@model TestWebApp.Models.Product

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@using (Html.BeginForm("Add", "Warehouse", FormMethod.Post))
{
    @Html.ValidationSummary()

    <span>Nazwa produktu:</span> @Html.TextBoxFor(x => x.Name)
    ;
    <span>Opis produktu:</span> @Html.TextBoxFor(x => x.Description)
    ;
    <span>Kategoria produktu:</span> @Html.TextBoxFor(x => x.Category)
    ;
    <span>Url zdjecia produktu</span> @Html.TextBoxFor(x => x.ImageUrl);

    <button type="submit">Dodaj produkt</button>
}