@model IEnumerable<TestWebApp.Models.Product>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<ul>

    @foreach(var product in Model)
    {
        <li><img src="http://animal.discovery.com/mammals/cheetah/pictures/cheetah-picture.jpg" alt="Product image" /> @product.Category - @product.Name - @product.Id</li>
    }
</ul>

<h2>Warunek - tylko samochody</h2>

<ul>

    @foreach (var product in Model)
    {
        if (product.Category == "Samochod")
        {
            <li><img src="http://animal.discovery.com/mammals/cheetah/pictures/cheetah-picture.jpg" alt="Product image" /> @product.Category - @product.Name - @product.Id</li>
        }
    }
</ul>
